body{
	display: grid;
	grid-template-areas: 
	"header header "
	"article ads"
	"footer footer";
	grid-template-rows:  60px 1fr;
	grid-template-columns: 1fr 15%;
	grid-gap: 10px;
	height: 100vh;
	margin: 0;
}
@media all and (max-width: 575px){
body{
	grid-template-areas: 
	"header "
	" article "
	"ads"
	"footer ";
	grid-template-rows:  80px 1fr 70px 1fr 70px;
	grid-template-columns:   1fr   ;
	
}	
}
header, footer, article,nav, div{
	padding: 20px;
	background: #98FB98;

}
#Header {
	grid-area: header;
}
#Footer {
	grid-area: footer;
}
#mainArticle{
	grid-area: article;
}
#siteAds{
	grid-area: ads;
}